body {
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}

.progress {
  height: 30px;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
}

.form-check {
  margin-bottom: 15px;
}

.question {
  margin-bottom: 20px;
}

.form-check-label {
  margin-left: 10px;
}

input[type="text"] {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.mt-4 {
  margin-top: 1.5rem;
}
